<section class="featured-section">
  <div class="slider-outer-container">
    <button class="nav-arrow left-arrow" onclick="moveFeatured(-1)">❮</button>

    <div class="featured-slider" id="featuredSlider">
      <div class="featured-card">
        <div class="card-left">
          <img src="assets/images/show-seller.jpg"" alt="" />
        </div>
        <div class="card-right">
          <h3 class="place-name">Bhairab</h3>
          <h2>Footware Sector in Bhairab Municipility</h2>
          <p>
            Discover how our latest architectural projects are redefining modern
            living spaces through sustainable materials and smart tech Explore
            how sustainable design and AI-driven planning are transforming
            modern cityscapes across the globe. integration.
          </p>
          <a href="#" class="feature-link">Learn More</a>
        </div>
      </div>

      <div class="featured-card">
        <div class="card-left">
          <img src="assets/images/handcrapt.jpg" alt="" />
        </div>
        <div class="card-right">
          <h3 class="place-name">Jashore</h3>
          <h2>Handicrapt Sector in Jashore Municipility</h2>
          <p>
            Our data-driven approach provides deeper insights into user
            behavior, allowing brands to make informed decisions in real-time.
            Explore how sustainable design and AI-driven planning are
            transforming modern cityscapes across the globe.
          </p>
          <a href="#" class="feature-link">View Details</a>
        </div>
      </div>

      <div class="featured-card">
        <div class="card-left">
          <img src="assets/images/machine.jpg" alt="" />
        </div>
        <div class="card-right">
          <h3 class="place-name">Bagura</h3>
          <h2>Light Engineering Sector in Bogura Municipility</h2>
          <p>
            Our data-driven approach provides deeper insights into user
            behavior, allowing brands to make informed decisions in real-time.
            Explore how sustainable design and AI-driven planning are
            transforming modern cityscapes across the globe.
          </p>
          <a href="#" class="feature-link">View Details</a>
        </div>
      </div>

      <div class="featured-card">
        <div class="card-left">
          <img src="assets/images/fruit.jpg" alt="" />
        </div>
        <div class="card-right">
          <h3 class="place-name">Shibganj</h3>
          <h2>Mango Sector in Shibganj Municipility</h2>
          <p>
            Our data-driven approach provides deeper insights into user
            behavior, allowing brands to make informed decisions in real-time.
            Explore how sustainable design and AI-driven planning are
            transforming modern cityscapes across the globe.
          </p>
          <a href="#" class="feature-link">View Details</a>
        </div>
      </div>


    </div>

    <button class="nav-arrow right-arrow" onclick="moveFeatured(1)">❯</button>
  </div>

  <div class="dots-container" id="dotsContainer"></div>
</section>
