<section class="mega-container">
  <h1 class="mega-title">Our Latest Insights</h1>

  <div class="hero-featured-card">
    <div class="hero-left">
      <a href="#" class="img-link">
        <img src="assets/images/investment-summit.jpg" alt="Main Feature News" />
      </a>
    </div>
    <div class="hero-right">
      <h2>The Future of Digital Architecture</h2>
      <p>
        Explore how sustainable design and AI-driven planning are transforming
        modern cityscapes across the globe. Explore how sustainable design and
        AI-driven planning are transforming modern cityscapes across the globe.
      </p>
      <button class="details-btn">Show Details</button>
    </div>
  </div>

  <div class="card-row-container">
    <div class="split-card">
      <div class="card-image-box">
        <a href="#"
          ><img src="assets/images/shibganj-rally.jpg" alt="Strategy News"
        /></a>
      </div>
      <div class="card-content-box">
        <h3>Shibganj’s Mango Sector Drives Regional Economic Growth</h3>
        <p>
          Developing long-term roadmaps for corporate growth in emerging
          markets. Explore how sustainable design and AI-driven planning are
          transforming modern cityscapes across the globe.
        </p>
        <button class="details-btn">Show Details</button>
      </div>
    </div>

    <div class="split-card">
      <div class="card-image-box">
        <a href="#"><img src="assets/images/tea-stall.png" alt="Market News" /></a>
      </div>
      <div class="card-content-box">
        <h3>Empowering Light Engineering Entrepreneurs: The Impact of E-Marketplaces in Jashore</h3>
        <p>
          A deep dive into current consumer trends and competitive landscapes
          for 2024. Explore how sustainable design and AI-driven planning are
          transforming modern cityscapes across the globe.
        </p>
        <button class="details-btn">Show Details</button>
      </div>
    </div>
  </div>
</section>
